<div class="header">
    <h1>{{action}} A Ride</h1>
</div>
<form [formGroup]="profileForm">
    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>Rider Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput id="student-id" placeholder="Student ID" formControlName="studentId"
                            (change)="onStudentIdChange()">
                        @if (profileForm.controls['studentId'].hasError('required')) {
                        <mat-error>Strudent ID is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput id="phone" placeholder="Phone" formControlName="phone">
                        @if (profileForm.controls['phone'].hasError('required')) {
                        <mat-error>Phone is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput id="first-name" placeholder="First Name" formControlName="firstName">
                        @if (profileForm.controls['firstName'].hasError('required')) {
                        <mat-error>First name is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput id="last-name" placeholder="Last Name" formControlName="lastName">
                        @if (profileForm.controls['lastName'].hasError('required')) {
                        <mat-error>Last name is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput id="email" placeholder="Email" formControlName="email">
                        @if (profileForm.controls['email'].hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <div formGroupName="searchRide">
            <mat-card-header>
                <mat-card-title>Schedule a Ride</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Source Campus" formControlName="sourceCampus">
                                <mat-option value="Kennesaw">Kennesaw</mat-option>
                                <mat-option value="Marietta">Marietta</mat-option>
                            </mat-select>
                            @if (profileForm.get('searchRide.sourceCampus')?.hasError('required')) {
                            <mat-error>Source Campus is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Destination Campus" formControlName="destinationCampus">
                                <mat-option value="Kennesaw">Kennesaw</mat-option>
                                <mat-option value="Marietta">Marietta</mat-option>
                            </mat-select>
                            @if (profileForm.get('searchRide.destinationCampus')?.hasError('required')) {
                            <mat-error>Destination Campus is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Day of Ride" formControlName="dayOfRide">
                                <mat-option value="Monday">Monday</mat-option>
                                <mat-option value="Tuesday">Tuesday</mat-option>
                                <mat-option value="Wednesday">Wednesday</mat-option>
                                <mat-option value="Thursday">Thursday</mat-option>
                                <mat-option value="Friday">Friday</mat-option>
                                <mat-option value="Saturday">Saturday</mat-option>
                                <mat-option value="Sunday">Sunday</mat-option>
                            </mat-select>
                            @if (profileForm.get('searchRide.dayOfRide')?.hasError('required')) {
                            <mat-error>Day of Ride is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput name="selected_time_A" [ngxMatTimepicker]="pickerA"
                                placeholder="Time of Ride" formControlName="timeOfRide" readonly />
                            @if (profileForm.get('searchRide.timeOfRide')?.hasError('required')) {
                            <mat-error>Time of Ride is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                        <ngx-mat-timepicker #pickerA dottedMinutesInGap enableKeyboardInput></ngx-mat-timepicker>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" style="width: 100%;" [disabled]="!profileForm.valid"
                (click)="onSubmit()">Search Available Rides</button>
        </mat-card-actions>
    </mat-card>
    <div *ngFor="let ride of availableRides">
        <mat-card class="form-card">
            <mat-card-title>{{ ride.firstName }} {{ ride.lastName }} 
                <button mat-raised-button color="primary"
                    (click)="bookRide(ride)">{{action}} Ride</button>
            </mat-card-title>
            <mat-card-content>
                <p>Email: {{ ride.email }}</p>
                <p>Phone: {{ ride.phone }}</p>
                <p>Car Info: {{ ride.carInfo.licensePlateNumber }}, {{ ride.carInfo.carMake }}, {{ ride.carInfo.carModel
                    }}, {{ ride.carInfo.carColor }}</p>
                <p>Availability: From: {{ ride.availability.sourceCampus }},
                    To: {{ ride.availability.destinationCampus }},
                    On: {{ ride.availability.availableDay }},
                    At: {{ ride.availability.availableTime }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</form>