form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 30px;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: sans-serif;
}

button:disabled {
    background-color: #cccccc;
    color: white;
    font-family: sans-serif;
}

button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    color: #333;
}

.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

.address-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address-field div {
    width: 45%;
    /* Adjust as needed */
}

.address-field label,
.address-field input {
    display: block;
}